.retake-answer-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #f9fafb;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .retake-content {
    padding: 30px;
    width: 100%;
    max-width: 1050px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-top: 230px;
  }
  
  .retake-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .retake-question {
    font-size: 30px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .previous-feedback {
    background-color: #eef6ff;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .previous-feedback-title {
    font-size: 20px;
    color: #333;
  }
  
  .feedback {
    background-color: #fffbdd;
    padding: 20px;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(255, 204, 0, 0.5);
  }
  
  .feedback-title {
    font-size: 20px;
    color: #333;
  }
  
  .feedback-item {
    font-size: 16px;
    color: #555;
  }
  
  .no-feedback {
    font-size: 16px;
    color: #555;
  }
  
  .answer-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
  }
  
  .submit-button, .finish-interview-button {
    width: 48%;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }
  
  .submit-button:hover {
    background-color: #2563eb;
  }
  
  .finish-interview-button {
    background-color: #f87171;
  }
  
  .finish-interview-button:hover {
    background-color: #e11d48;
  }
  