/* JobQuestionList.css */

.JobQuestionList_container {
  padding: 20px;
  max-width: 1400px; /* 가로 길이를 더 넓게 조정 */
  margin: 0 auto;
  padding-bottom: 100px;
}

.common-title {
  text-align: left;
  font-size: 34px;
  margin-bottom: 10px;
}

.common-text {
  text-align: left;
  font-size: 24px;
  margin-bottom: 40px;
}

.questionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 가로로 3개의 열을 배치 */
  gap: 20px;
  grid-auto-rows: minmax(200px, auto); /* 각 카드가 최소 200px에서 필요에 따라 늘어남 */
  margin-bottom: 100px;
}

.questionBox {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 내용이 위에서부터 쌓이도록 설정 */
}

.questionBox:hover {
  background-color: #e0f7fa; /* 마우스를 올렸을 때 배경색 변경 */
  border-color: #00796b; /* 마우스를 올렸을 때 테두리 색상 변경 */
}

.questionBox.selected {
  background-color: #e0f7fa;
  border-color: #00796b;
}

.questionTitle {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.questionDescription {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  flex-grow: 1; /* 설명이 많으면 공간을 늘려 사용 */
  display: flex;
  align-items: flex-start;
}

.startButton {
  padding: 15px 30px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
  width: 200px;
}

.startButton:hover {
  background-color: #6200ee;
}