/* JobResume.css */

.JobResume_container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingText {
  font-size: 28px;
  color: #123abc;
  margin-top: 20px;
  font-weight: bold;
}

.common-title {
  text-align: left;
  font-size: 26px;
  margin-bottom: 10px;
}

.common-text {
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

.questionContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.questionNumber {
  font-size: 60px;
  font-weight: bold;
  color: #d3d3d3;
  margin-right: 30px;
}

.questionText {
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  line-height: 1.5;
  word-wrap: break-word;
  margin-top: 25px;
}

.answerInput {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

.charCount {
  font-size: 14px;
  color: #888;
  margin-left: 20px;
  margin-top: 5px;
}

.nextButton {
  padding: 15px 30px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-left: 50px;
}

.guideTextLeft {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  white-space: nowrap;  /* 줄바꿈 방지 */
}

.guideTextRight-1 {
  position: absolute;
  right: -100px;  /* 여유 공간을 더 확보하여 텍스트가 침범하지 않도록 조정 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  white-space: nowrap;  /* 줄바꿈 방지 */
}

.guideTextRight-2 {
  position: absolute;
  right: -150px;  /* 여유 공간을 더 확보하여 텍스트가 침범하지 않도록 조정 */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  white-space: nowrap;  /* 줄바꿈 방지 */
}