/* MemoModal.css */

.memo-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.memo-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 340px;
    box-sizing: border-box;
}

.memo-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memo-modal h2 {
    margin-top: 0;
    margin-bottom: 14px;
}

.memo-char-counter {
    font-size: 14px;
    color: #666;
}

.memo-modal textarea {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.memo-modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.memo-modal-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}